<div class="container">
  <h1>Data Transfer Test</h1>
  <div class="text-center">
    <h2>Last Check</h2>
    <div class="text-center"><%= Rate.last_time %></div>
    <b>Download:</b> <%= Rate.last_value('download') %> is <%= Rate.above_contracted_rate('600', 'download')%> on time
    <br />
    <b>Upload:</b> <%= Rate.last_value('upload') %> is <%= Rate.above_contracted_rate('300', 'upload')%> on time
  </div>
  <br />
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
    <div class="col">
      <h2 class="text-center">Transfer Rate</h2>
      <%= bar_chart @transfer_rate, xtitle: "Rate", ytitle: "Datetime", id: "rate_transfer-chart", height: "700px" %>
    </div>
    <div class="col">
      <h2 class="text-center">Download Rate</h2>
      <%= bar_chart @download_rate, xtitle: "Rate", ytitle: "Datetime", id: "download_rate-chart", height: "700px" %>
    </div>
    <div class="col">
      <h2 class="text-center">Upload Rate</h2>
      <%= bar_chart @upload_rate, xtitle: "Rate", ytitle: "Datetime", id: "upload_rate-chart", height: "700px" %>
    </div>
  </div>
</div>
